<div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">
        Gifs-App
    </h3>
    <hr class="text-white" />

    <div class="list-group list-reset">
        <a href="#" class="list-group-item list-group-item-action" *ngFor="let word of busquedas" (click)="buscar(word)">
            {{word | titlecase}}
        </a>
    </div>
</div>